<div class="client container text-center padding-10">
  <h1>Add a new client</h1>

  <form class="text-left">

    <div class="client__field">
      <label class="inline-block padding-5">Name*</label>
      <input type="text" id="client-name" name="client-name"
             class="input-simple full-width padding-10" placeholder="John Smith" />
    </div>

    <div class="client__field">
      <label class="inline-block padding-5">Phone number*</label>
      <input type="text" id="client-phone" name="client-phone"
             class="input-simple full-width padding-10" placeholder="0800 432 1234" />
    </div>

    <div class="client__buttons clearfix">
      <a routerLink="/" class="client__button pull-left btn btn--gray padding-10">
        BACK
      </a>
      <button class="client__button pull-right btn padding-10">
        SAVE
      </button>
    </div>

  </form>

</div>