// ===========================================================
// CLIENT DETAILED VIEW COMPONENT STYLES
// ===========================================================
.client {
  max-width: 500px;
  padding: 0 10px;
  &__field {
    padding: 8px 4px;
    &--small { width: 50%; }
  }
  &__buttons { padding: 13px 0; }
  &__button-container {
    padding: 8px 4px;
    width: 50%;
  }
  &__error {
    padding-top: 8px;
    color: $red;
  }
}
